name: MSBuild

on: [push, pull_request]

jobs:
  msbuild:
    runs-on: windows-latest

    strategy:
      matrix:
        configuration: [Release, ReleaseAVX2]
        platform: [x64]

    steps:
      - uses: actions/checkout@v4

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Install Visual Studio C++ Build Tools
        shell: cmd
        run: |
          curl -L -o vs_buildtools.exe https://aka.ms/vs/17/release/vs_buildtools.exe
          vs_buildtools.exe --quiet --wait --norestart --nocache --installPath "C:\BuildTools" --add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --includeOptional

      - name: Restore NuGet packages
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: nuget restore SEOwnedDE.sln

      - name: Build
        working-directory: ${{ env.GITHUB_WORKSPACE }}
        run: msbuild SEOwnedDE.sln /p:Platform=${{ matrix.platform }} /p:Configuration=${{ matrix.configuration }}

      - name: Upload DLLs
        uses: actions/upload-artifact@v4
        with:
          name: SEOwnedDE-DLLs-${{ matrix.platform }}-${{ matrix.configuration }}
          path: |
            **/*.dll
          retention-days: 7 # Optional: set retention days
